# Virtual environments
short/
venv/
.env

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Generated runtime files
temp/*
output/*
raw_videos/*

# Local media assets (do not upload)
assets/*


# Ignore local AI models
models/*.onnx
models/*.bin

# Logs
*.log

# IDE files
.vscode/
.idea/

# OS junk
.DS_Store
Thumbs.db